/*
|===============================================
|-----------------------------------------------
| GLOBAL
|===============================================
*/
body {
	width: 100%;
	height: 100%;
	font-family: 'Karla', sans-serif;
	text-align: center;
	align-items: center;
	font-weight: 300;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #000;

}

/*
|===============================================
| GRID CLASSES
|===============================================
*/
.is-flex {
	display: flex;
}

.is-absolute {
	position: absolute;
}

.is-relative {
	position: relative;
}

.is-spectral {
	font-family: 'Spectral', serif;
}
.is-karla {
	font-family: 'Karla', sans-serif;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-yellow {
	width: 140px;
	height: 42px;
	background: #FFE188;
	text-align: center;
	border: 1px solid #b9b9b9;
	margin: 10px auto;
}

.btn-yellow:hover {
	background: #ffd453;
	font-weight: 600;
}

/*
|===============================================
| TYPOGRAPHY
|===============================================
*/
h1 {
	color:#14142A;
	font-weight: 500;
	font-size: 20px;
}

h2 {
	color: #545454;
	font-family: 'Spectral', serif;
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 10px;
}

h3 {
	font-family: 'Spectral', serif;
	font-weight: 200;
	color: #000;

}

h4 {
	font-family: 'Karla', sans-serif;
	font-weight: 500;
}

/*
|===============================================
|-----------------------------------------------
| HEADER + NAVIGATION
|===============================================
*/
.header {
	position: fixed;
	width: 100%;
	text-align: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background:	#ecf1f480;
	z-index: 2;
	padding-bottom: 6px;

}

.header .gn {
	justify-content: center;
	align-items: center;
}

.header .menu {
	bottom: -3px;
	left: 0;
	margin-left: 15px;
}

.header .menu a {
	margin-right: 6px;
	font-size: 14px;
}

.header .logo {
	align-items: center;
}

.header a .logo {
	color:#14142A;
	font-family: 'Spectral', serif;
	font-weight: 200;
	font-size: 16px;
}

.header .logo img {
	margin: 0 10px;
}

.header .icons {
	bottom: -3px;
	right: 7px;
}

.header .icon {
	height: 18px;
	padding-right: 8px;
}

/*
|===============================================
|-----------------------------------------------
| BANNER
|===============================================
*/
.bnr-box {
	height: 445px;
	padding-top: 47px;
}

.bnr-box .bnr {
	background: url(../images/banner.jpg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 400px;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.bnr-box .content {	
	text-align: left;
	line-height: 1.3;
	margin: 15px;

}

.bnr-box .content h1 {
	text-align: center;
	padding: 10px 0 36px 0;
}

.bnr-box .content .xx {
	text-align: right;
	margin: 30px 15px 0px 15px;
}

.bnr-box .content p {
	font-size: 16px;
	font-weight: 500;
	color: #545454;
}

/*
|===============================================
|-----------------------------------------------
| POPULAR SCENTS // PRODUCT CAROUSEL
|===============================================
*/
.popular-scents {
	height: 445px;
	margin-bottom: 70px;
}

.popular-scents .carousel-cell {
	width: 288px;
	height: 410px;
	margin: 0 60px;
	-webkit-box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.2);
	-moz-box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.2);
	box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.2);
}

.popular-scents .carousel-cell .img-box {
	height: 288px;
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}

.popular-scents .obsession {
	background: url(../images/obsession-scent.jpg);
}

.popular-scents .intoxication {
	background: url(../images/intoxication-scent.jpg);
}

.popular-scents .splendor {
	background: url(../images/splendor-scent.jpg);
}

.main-carousel .flickity-button {
	background: transparent;
}

.main-carousel .flickity-prev-next-button {
    top: 35%;
}

/*
|===============================================
|-----------------------------------------------
| CUSTOM SCENTS
|===============================================
*/
.custom-scents {
	height: 850px;
	margin-bottom: 200px;
}

.custom-scents .container {
	flex-direction: column;
}

.custom-scents .col {
	justify-content: center;
}

.custom-scents .img-box {
	position: relative;
	height: 200px;
	margin: 15px;
	-webkit-box-shadow: 11px 13px 9px -3px rgba(0,0,0,0.2);
	-moz-box-shadow: 11px 13px 9px -3px rgba(0,0,0,0.2);
	box-shadow: 11px 13px 9px -3px rgba(0,0,0,0.2);
}

.custom-scents .img-box:hover {
	opacity: 0.78;

}

.custom-scents .img-box p:hover {
	color: #FFC600;
}

.custom-scents .img-1 {
	background: url(../images/gardenia.jpg);
}

.custom-scents .img-2 {
	background: url(../images/daisy.jpg);
}

.custom-scents .img-3 {
	background: url(../images/lilac.jpg);
}

.custom-scents .img-4 {
	background: url(../images/jasmine.jpg);
}

.custom-scents .img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.custom-scents p {
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 5px;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 85px;
	top: 85px;
	z-index: 1;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

}

.custom-scents .btn {
	margin-top: 20px;
}

/*
|===============================================
|-----------------------------------------------
| APP DOWNLOAD
|===============================================
*/
.app-download {
	height: 300px;
	background: #faebce;
	margin-bottom: 50px;
}

.app-download h2 {
	text-align: center;
	margin: 0 5px;
	padding-top: 10px;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.app-download .logo {
	background: url(../images/logo.png);
	background-size: cover;
	background-position: center;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.app-download .store-cta {
	justify-content: center;
}


.app-download .store-cta .cta {
	width: 128px;
	height: 40px;
	margin: 10px;
}

.app-download .store-cta .google-play {
	background: url(../images/google-play.svg);
}

.app-download .store-cta .app-store {
	background: url(../images/apple.svg);
}

/*
|===============================================
|-----------------------------------------------
| NEWSLETTER
|===============================================
*/
.newsletter {
	height: 350px;
}

.newsletter .intro h2 {
	margin-bottom: 5px;
}

.newsletter .intro p {
	font-size: 18px;
}

.newsletter .signup-form p {
	text-align: left;
	font-size: 16px;
	margin-left: 30px;
}

.newsletter .names {
	flex-direction: column;
	margin-bottom: 15px;
}

.newsletter .names .name-1 {
	margin: 15px 0;
}

.newsletter .names input {
	width: 92%;
	height: 30px;
}

.newsletter .email input {
	margin: 0;
	width: 92%;
	height: 30px;
}

.newsletter .email .red {
	color: red;
}

.newsletter .btn {
	width: 140px;
	height: 42px;
	text-align: center;
	align-items: center;
	background: rgb(157,182,123);
	background: radial-gradient(circle, rgba(157,182,123,1) 45%, rgba(131,168,82,1) 100%);
	border: 1px solid #777;
	margin: 25px auto;
}

.newsletter .btn a {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
}

/*
|===============================================
|-----------------------------------------------
| FOOTER
|===============================================
*/
.footer {
	height: 100px;
	background: #E0D7D0;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
}

.footer .gn {
	margin-left: 15px;
}

.footer .gn ul {
	flex-direction: column;
}

.footer .gn li {
	text-align: left;
	margin-bottom: 5px;
}

.footer .gn a {
	font-family: 'Spectral', serif;
	font-weight: 300;
	font-size: 13px;
	color: #14142A;
}

.footer .socials li {
	margin-right: 15px;
}

.footer .socials img {
	width: 32px;
	height: 32px;
}

/*
|===============================================
|-----------------------------------------------
| MEDIA QUERIES
|===============================================
*/
@media (min-width: 488px) {
	/*=== Banner ===*/
	.bnr-box .content h1 {
		text-align: left;
	}

	.bnr-box .content .xx {
		margin-right: 0;
	}

	/*=== Custom Scents ===*/
	.custom-scents {
		height: 900px;
	}

	.custom-scents .img-box {
		height: 222px;
	}

	.custom-scents p {
		bottom: 99px;
		top: 89px;
	}

	/*=== Custom Scents ===*/

}

@media (min-width: 576px) {
	/*=== Header + Navigation ===*/
	.header .menu a {
		font-size: 16px;
	}

	/*=== Banner ===*/
	.bnr-box .content h1 {
		padding: 50px 0;
		font-size: 22px;
	}

	.bnr-box .content p {
		font-size: 18px;
	}

	/*=== Footer ===*/
	.footer .gn ul {
		flex-direction: row;
	}

	.footer .gn li {
		margin: 0 15px 5px 0;
	}

	.footer .gn a {
		font-size: 14px;
	}
}

@media (min-width: 625px) {
	/*=== Banner ===*/
	.bnr-box .content h1 {
		font-size: 25px;
	}

	.bnr-box .content p {
		font-size: 20px;
	}
}

@media (min-width: 1110px) {
	/*=== Typography ===*/
	h1 {
		font-size: 35px;
	}

	h2 {
	letter-spacing: -1px;
	text-align: left;
	margin: 70px 0 60px 70px;
	}

	h3 {
		font-size: 25px;
	}

	h4 {
		font-size: 20px;
	}

	/*=== Header + Navigation ===*/
	.header .gn {
		justify-content: center;
		align-items: center;
	}

	.header .menu {
		top: 32px;
		left: 0;
		margin-left: 70px;
	}

	.header .gn {
		justify-content: center;
		align-items: center;
	}

	.header a .logo {
		font-size: 18.52px;
		margin-top: 16px;
	}

	.header .icons {
		top: 32px;
		right: 15px;
	}

	.header .icon {
		height: 32px;
		margin-right: 70px;
	}

	/*=== Banner ===*/
	.bnr-box {
		height: 645px;
	}

	.bnr-box .bnr {
	min-height: 645px;
	top: 0;
	right: 0;
	left: 0;
	}

	.bnr-box .content {	
		text-align: left;
		left: 0;
		right: 0;
		bottom: 100px;
		max-width: 830px;
		margin: 0 auto;
		line-height: 45px;
	
	}

	.bnr-box .content .xx {
		text-align: right;
	}

	.bnr-box .content h1 {
		padding: 89px 0;
	}

	.bnr-box .content p {
		font-size: 26px;
	}

	/*=== Popular Scents ===*/

	/*=== Custom Scents ===*/
	.custom-scents {
		height: 1427px;
	}

	.custom-scents .img-box {
	width: 560px;
	height: 560px;
	margin: 15px;
	}

	.custom-scents p {
		padding: 265px 225px;
		margin-bottom: 0;
	}

	.custom-scents .btn {
		margin-top: 44px;
	}

	/*=== App Download ===*/
	.app-download {
		height: 464px;
	}

	.app-download h2 {
	padding-top: 40px;
	margin-bottom: 20px;
	}

	.app-download .logo {
	width: 250px;
	height: 250px;
	}

	.app-download .store-cta .cta {
		margin: 20px;
	}

	/*=== Newsletter ===*/
	.newsletter {
		height: 544px;
	}

	.newsletter .intro h2 {
		text-align: center;
		margin: 60px 70px;
	}

	.newsletter .intro p {
		font-size: 22px;
		margin-bottom: 60px;
	}
	
	.newsletter .signup-form, .newsletter .intro {
		max-width: 754px;
		margin: 0 auto;
	}
	
	.newsletter .signup-form p {
		font-size: 20px;
	}
	
	.newsletter .names {
		margin-bottom: 50px;
		flex-direction: row;
	}
	
	.newsletter .names .name-1 {
		margin-right: 20px;
	}
	
	.newsletter .names input {
		width: 367px;
		height: 40px;
	}
	
	.newsletter .email input {
		width: 754px;
		height: 40px;
	}

	.newsletter .btn {
		margin: 35px auto;
	}
	
	/*=== Footer ===*/
	.footer {
		height: 104px;
	}

	.footer .gn {
		margin-left: 70px;
	}

	.footer .gn a {
		font-size: 18.52px;
		margin-right: 32px;
	}

	.footer .socials {
		margin-right: 70px;
	}
	
	.footer .socials li {
		margin-right: 20px;
	}
}